body {
  width: 100%;
  background: #181818;
  overflow-x: hidden;
  font-family: "Arimo", sans-serif;
  letter-spacing: -0.04em;
  font-weight: 400;
}
input {
  font-family: "Arimo", sans-serif;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
}
.container {
  margin: 0 auto;
  width: 930px;
}
.movie__text-wrapper {
  margin-left: 83px;
  margin-top: 80px;
  display: flex;
  gap: 1px;
  align-items: center;
}
.movie__title-text {
  padding: 5px;
  width: 183px;
  height: 30px;
  text-align: center;
  background: #6532f8;
  border: 1px solid #6532f8;
  border-radius: 200px;
  color: #f3f6f9;
  font-size: 15px;
  line-height: 17px;
}
.movie__year {
  padding: 5px;
  width: 75px;
  height: 30px;
  text-align: center;
  background: #6532f8;
  border: 1px solid #6532f8;
  border-radius: 200px;
  color: #f3f6f9;
  font-size: 15px;
  line-height: 17px;
}
.Movie__title {
  margin: 20px 0px 45px 83px;
  font-size: 120.416px;
  line-height: 138px;
  color: #f3f6f9;
}
.movie {
  max-width: 930px;
  background: #232323;
  border-radius: 20px 20px 0px 0px;
  padding: 70px 60px 70px 87px;
}
.movie__container {
}
.movie__input-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.movie__input {
  width: 411px;
  padding-bottom: 15px;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: -0.02em;
  color: #f3f6f9;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #f3f6f9;
  opacity: 0.5;
}
.input__btn {
  cursor: pointer;
  margin-bottom: 10px;
  width: 62px;
  height: 62px;
  border: none;
  outline: none;
  border-radius: 100px;
  background: url("../resources/Vector.svg") no-repeat;
  background-color: #6532f8;
  background-position: center;
}
